<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/webjars/jquery/3.4.0/jquery.js}"></script>
    <script type="text/javascript">
        $(function () {
            //拉取年级信息
            $.get({
                url:"/users/getGrades",
                success:function (result) {
                    if(result!=null){
                        let obj = document.getElementById("filterCondition");
                        for (let i=0;i<result.length;i++){
                            obj.options[i+1] = new Option(result[i].gradeName);
                            if(result[i].gradeName == $("#selGrade").val()){
                                obj.options[i+1].selected = true;
                            }
                        }
                    }
                },
                error:function () {
                    alert("年纪拉取失败");
                }
            });
            $("#filter").click(function () {
                $("#filterForm").submit();
                // $.get({
                //     url:"/admin/studentListByGrade",
                //     data:para,
                //     success:function () {
                //         alert("请求成功");
                //     },
                //     error:function () {
                //         alert("请求失败");
                //     }
                // })
            })
        })
    </script>
</head>
<body>
<nav th:replace="main/header :: #public_header"></nav>
<div style="float: left;" th:replace="main/sideBar :: #public_side"></div>
<div style="float:left;display: contents">
    <input type="text" th:value="${grade.gradeName}" id="selGrade" hidden="hidden"/>
    <ul class="breadcrumb" style="background-color: rgba(251,190,119,0.25);overflow: hidden">
        <span style="font-size: 16px">当前位置：</span>
        <li><a href="#">Home</a></li>
        <li>用户管理</li>
        <li class="active">班级分配</li>
    </ul>
</div>
<div style="overflow: hidden;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="2"><button type="button" class="btn btn-primary">批量修改</button></th>
                <th colspan="3">
                    <form id="filterForm" th:action="@{/admin/studentListByGrade}" th:method="post">
                        <input type="button" id="filter" th:value="过滤" class="btn btn-default"/>
                        <div class="col-sm-3">
                            <select id="filterCondition" name="gradeName" class="form-control">
                                <option>全部数据</option>
                            </select>
                        </div>
                    </form>
                </th>
            </tr>
            <th width="7%"><input type="checkbox" id="allSel"/>全选</th>
            <th width="25%">学号</th>
            <th width="18%">姓名</th>
            <th width="35%">年级</th>
            <th width="15%">操作</th>
        </thead>
        <tbody>
            <tr th:each="a:${student.list}">
                <td><input type="checkbox"/></td>
                <td th:text="${a.sno}"></td>
                <td th:text="${a.username}"></td>
                <td th:text="${a.grade}"></td>
                <td><a th:href="@{/admin/toUpdateGrade/}+${a.sno}">修改</a></td>
            </tr>
            <tr th:hidden="${student.list.isEmpty()}" style="margin: 0 auto; background-color: grey; width: 100%;height: 4%;overflow: hidden">
                <td colspan="5" style="text-align: center">
                    <a th:href="@{/admin/studentList(start=1)}" style="color: aqua;"th:if="${student.pageNum!=1}">[首  页]</a>
                    <a th:href="@{/admin/studentList(start=${student.pageNum-1})}" th:if="${student.pageNum!=1}" style="color: aqua;">[上一页]</a>
                    <a th:href="@{/admin/studentList(start=${student.pageNum+1})}" th:if="${student.pageNum!=student.pages}" style="color: aqua;">[下一页]</a>
                    <a th:href="@{/admin/studentList(start=${student.pages})}" style="color: aqua;" th:if="${student.pageNum!=student.pages}">[末  页]</a>
                    当前页:<input type="text" style="width: 20px;" readonly="readonly"th:value="${student.pageNum}"/>/总页数:<input type="text" style="width: 20px;" readonly="readonly" th:value="${student.pages}"/>
                </td>
            </tr>
            <tr th:hidden="${!student.list.isEmpty()}">
                <td colspan="5" style="text-align: center">暂无数据...</td>
            </tr>
        </tbody>
    </table>
</div>
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>